src/Ico/Bundle/ParserBundle/DataRules/Scema/abilitiesSchema.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema version="1.0"
		  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		  elementFormDefault="qualified">
    <xs:element name="note">
	   <xs:complexType>
		  <xs:sequence>
			 <xs:element name="to" type="xs:string"/>
			 <xs:element name="from" type="xs:string"/>
			 <xs:element name="heading" type="xs:string"/>
			 <xs:element name="body" type="xs:string"/>
		  </xs:sequence>
	   </xs:complexType>
    </xs:element>
</xsd:schema>
